<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ meta.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/jwa3agu.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% comment %} <script async="async" type="text/javascript" src="https://s3.amazonaws.com/files.etagdigital.com.br/0D18335E-C94E-4ADC-8AE1-F9D5921CC3E1.js"></script> {% endcomment %}
  </head>
  <body>
    {% include header.html %}
    <!-- Content -->
    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
