<style>
  footer {
    background: var(--primary-gray);
    padding: 1rem 5vw;
    position: relative;
    text-align: center;
    width: 100vw;
    bottom: 0;
    height: 35vh;
  }

  footer *{
    color: white;
  }

  footer p{
    font-size: 12px;
  }

  footer a {
    font-size: 40px;
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
  }

  footer a:active,
  footer a:focus,
  footer a:hover {
    color: white;
  }
</style>

<footer>
  <a href="/">{{meta.title}}</a>
  <h4>Atenção! Ambiente para teste.</h4>
  <p>Nenhuma compra realizada neste site é valida/real.</p>
</footer>
